name: CI

on:
  push:
    branches:
      - main
      
jobs:
  build:
    runs-on: My-Runner

    steps:
      - name: CheckOut-Code 
        uses: actions/checkout@v4

      - name: Nodejs-Setup
        uses: actions/setup-node@v4
        with:
          node-version: 18 
          cache: 'npm'

      - name: Install dependencies
        run: npm ci                

      - name: Build
        run: npm run build

      - name: Test
        run: npm test --if-present

